{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block main %}

<h1 class="available">Available Places</h1>

<div class="filter">

    <form action="#">

        <div>
        <label for="#"><h3>Filter by country: </h3></label>
        </div>

        <div>
            <select name="" id="" class="opt">
                <option value="" selected disabled>All</option>
                <option value="los angeles">Los Angeles</option>
                <option value="Toronto">Toronto</option>
                <option value="new york">New York</option>
            </select>
        </div>

    </form>
</div>

<section>
    {% for place in places %}

    <div class="place-card">
        <img src="" alt="" class="place-image">
        <h4>{{place.name}}</h4>
        <p>Price per night: {{place.price_per_night}}</p>
        <p>Location: {{place.location}}</p>
        <a href="{{ url_for('place', place_id=place.id) }}" class="details-button">View Details</a>
    </div>

    {% endfor %}

</section>

{% endblock %}

{% block footer %}

<p>&copy; 2024 HBnB Evolution. All rights reserved.</p>

{% endblock %}
