{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block main %}

<h1 class="available">Available Places</h1>

<div class="filter">

    <form action="#">

        <div class="design">
        <label for="options"><span><strong> Filter by country: </strong></span></label>
        </div>

        <div>
            <select name="countries" id="countries" class="opt">
                <option value="" selected disabled>All</option>
                {% for country in countries %}
                    <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
            </select>
        </div>

    </form>
</div>

<section>
    {% for place in places [:3] %}
    <div class="place-card">
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="place-image" alt="Image of {{ place.name }}">
        <h4>{{ place.description }}</h4>
        <p>Price per night: {{ place.price_per_night }}</p>
        <p>Location: {{ place.city_name }}, {{ place.country_name }}</p>
        <a href="{{ url_for('place', place_id=place.id) }}" class="details-button">View Details</a>
    </div>
    {% endfor %}
</section>


<script src="{{ url_for('static', filename='login.js') }}"></script>

{% endblock %}

{% block footer %}

<p>&copy; 2024 HBnB Evolution. All rights reserved.</p>

{% endblock %}
