{% extends "base.html" %}

{% block title %}Place Details{% endblock %}

{% block main %}

<div class="place-details">

    <h2>{{place.name}}</h2>

    <div class="place-image-large">

        <img src="" alt="">

    </div>

    <div class="place-info">

        <p><strong>Host: </strong> {{place.host}}</p>
        <p><strong>Price per night: </strong>$ {{place.price_per_night}}</p>
        <p><strong>Location: </strong> {{place.location}}</p>
        <p><strong>Description: </strong> {{place.description}}</p>
        <p><strong>Amenities: </strong> {{place.amenities}}</p>

    </div>

</div>

<h3>Reviews</h3>

<div class="review-card">
    
    <div class="review-rating">
        <h4>Jane Smith</h4>
        <p>Great place to stay!</p>
        <div>
            <p>Rating</p>
            <p>&#9733; &#9733; &#9733; &#9733;</p>
        </div>
    </div>
</div>

{% if user_logged_in %}

<h2>Add a Review</h2>

<div class="add_review">

    <form action="">
        <label for="review"><span><strong> Your Review </strong></span></label> <br>
        <textarea name="review" id="review"></textarea>

        <div>
            <label for=""><span><strong> Rating </strong></span></label>
            <select name="rating" id="rating">
                <option value="" selected disabled>1 Star</option>
                <option value="1"> &#9733; </option>
                <option value="2"> &#9733; &#9733; </option>
                <option value="3"> &#9733; &#9733; &#9733; </option>
                <option value="4"> &#9733; &#9733; &#9733; &#9733;</option>
                <option value="5"> &#9733; &#9733; &#9733; &#9733; &#9733;</option>
            </select>
        </div>

    </form>

    <button style="width: 96%; background-color: #fdcd0b; margin: 20px 0; height: 30px;">Submit Review</button>

</div>

{% else %}

    <p><a href="{{ url_for('login') }}">Sign In</a> here for add Rating</p>

{% endif %}

{% endblock %}

{% block footer %}

<p>&copy; 2024 HBnB Evolution. All rights reserved.</p>

{% endblock %}
